<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
        <title>Главная страница</title>
    </head>
    <body style="background-image: url('{% static "images/home_back.jpg" %}');">
        <div>
            <h1>Добро пожаловать!</h3>
                <h3>Чтобы начать работу - <span style="color: orange;">зарегистрируйтесь</span> (или <span style="color: orange;">авторизуйтесь</span>, если вы уже <span style="color: orange;">зарегистрированы</span>)</h5>
            <div>
                <form action="{% url 'sign_up.html' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Регистрация</button>
                </form>
                <form action="{% url 'log_in.html' %}" method="POST">
                    {% csrf_token %}
                    <button>Авторизация</button>
                </form>
            </div>
        </div>
    </body>
</html>