<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/su_li_pr.css' %}" />
        <script src="{% static 'js/show_hide_password.js' %}" defer></script>
        <title>Страница регистрации</title>
    </head>
    <body style="background-image: url('{% static "images/home_back.jpg" %}');">
        <div>
            <h3>Форма для <span style="color: orange;">регистрации</span></h3>
            <h4>Уже зарегистрированы? <a href="http://127.0.0.1:8000/log_in/" style="color: orange;">Авторизуйтесь</a></h4>
            <div class="container">
                <form action="sign_up_sending" method="POST">
                    {% csrf_token %}
                    <p>Фамилия</p>
                    <input name="surname" type="text">
                    <p>Имя</p>
                    <input name="name" type="text">
                    <p>Отчество</p>
                    <input name="patronymic" type="text">
                    <p>Почта</p>
                    <input name="email" type="email">
                    <p>Пароль</p>
                    <input id="passwordInput" name="password" type="password">
                    <button id="toggleButton" style="font-size: 10px; width: 200px;" type="button">Показать/скрыть пароль</button>
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </body>
</html>