<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/su_li_pr.css' %}" />
        <script src="{% static 'js/show_hide_password.js' %}" defer></script>
        <title>Страница авторизации</title>
    </head>
    <body style="background-image: url('{% static "images/home_back.jpg" %}');">
    {% if messages %}
    <div style="justify-content: center;display: flex;">
        {% for message in messages %}
            <p style="width: 300px;height: 25px;padding-top: 3px;font-size: 15px;text-align: center;border-radius: 20px;background-color: green;">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
        <div>
            <h3>Форма для <span style="color: orange;">авторизации</span></h3>
            <h4>Ещё не зарегистрированы? <a href="http://127.0.0.1:8000/sign_up/" style="color: orange;">Зарегистрируйтесь</a></h4>
            <div class="container">
                <form action="log_in_sending" method="POST">
                    {% csrf_token %}
                    <p>Почта</p>
                    {% autoescape off %}
                    {{ error_email }}
                    <p>Пароль</p>
                    {{ error_password }}
                    {% endautoescape %}
                    <button id="toggleButton" style="font-size: 10px; width: 200px;" type="button">Показать/скрыть пароль</button>
                </form>
                <div id="notification" class="alert"></div>
            </div>
        </div>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'main.html' %}";
        }, 1500);
    </script>
    </body>
</html>