<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/su_li_pr.css' %}" />
        <script src="{% static 'js/show_hide_password.js' %}" defer></script>
        <title>Страница восстановления пароля</title>
    </head>
    <body style="background-image: url('{% static "images/home_back.jpg" %}');">
        <div>
            <h3>Форма для <span style="color: orange;">восстановления пароля</span></h3>
            <h4>Сначала отправьте код на свою почту, введите код и придумайте новый пароль</h4>
            <div class="container">
                <form action="password_recovery_sending" method="POST">
                    {% csrf_token %}
                    <p>Почта</p>
                    <input name="email" type="email">
                    <button type="submit">Отправить код</button>
                    <p>Код</p>
                    <input name="code" type="text">
                    <p>Новый пароль</p>
                    <input id="passwordInput" name="password" type="password">
                    <button id="toggleButton" style="font-size: 10px; width: 200px;" type="button">Показать/скрыть пароль</button>
                    <button type="button">Поменять пароль</button>
                </form>
            </div>
        </div>
    </body>
</html>